@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    color-scheme: dark;
  }
}

@layer utilities {
  .prose {
    max-width: 65ch;
    color: inherit;
  }
  
  .prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  
  .prose ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
    list-style-type: disc;
  }
  
  .prose li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}